// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-outline {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.1px;
}

.signup-h1-white{
  color: white;
}

.margin{
  margin: 7px;
}
